<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Google!
  </h1>
</div>
<ul [ngSwitch]="auth.isSignedIn()" class="controls">

  <li *ngSwitchCase="false">
    <button [disabled]="!auth.isInitialized()" 
            id="signin-button" 
            (click)="auth.signIn()">
      Sign in
    </button>
  </li>

  <li *ngSwitchCase="true">
    <button [disabled]="!auth.isInitialized()" 
            id="signout-button" 
            (click)="auth.signOut()">
      Sign out
    </button>
  </li>

</ul>

<app-profile></app-profile>

<table>
  <tr>
    <td>Name</td>
    <td>Modified Date</td>
  </tr>
  <tr *ngFor="let file of files">
    <td>{{file.name}}</td>
    <td>{{file.modifiedDate}}</td>
  </tr>
</table>