<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ul [ngSwitch]="signedIn" class="controls">

  <li *ngSwitchCase="false">
    <button [disabled]="!initialized" id="signin-button" (click)="handleSignInClick()">Sign in</button>
  </li>

  <div *ngSwitchCase="true">
    <li>
      <button [disabled]="!initialized" id="signout-button" (click)="handleSignOutClick()">Sign out</button>
    </li>
    <li>
      <button [disabled]="!initialized" id="apiCall" (click)="makeApiCall()">API Test</button>
    </li>
  </div>

</ul>

<app-profile [visible]="signedIn" 
             [name]="name"
             [email]="email"
             [img]="img"></app-profile>