<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Google!
  </h1>
</div>
<div [ngSwitch]="auth.isSignedIn()" class="controls">

  <div *ngSwitchCase="false">
    <button [disabled]="!auth.isInitialized()" 
            id="signin-button" 
            (click)="auth.signIn()">
      Sign in
    </button>
  </div>

  <div *ngSwitchCase="true">
    <button [disabled]="!auth.isInitialized()" 
            id="signout-button" 
            (click)="auth.signOut()">
      Sign out
    </button>
  </div>

</div>

<app-profile></app-profile>

<app-drive-browser></app-drive-browser>