#profile {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    text-align: right;
    overflow: hidden;
}

#profile div{
    min-width: 400px;
    display: inline-block;
}

#profile img {
    border-radius: 50%;
}
